/node_modules
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.rnd
# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
vendor/
.phpunit.result.cache
app/Services/
public/phpinfo.php
public/test.php
public/js/app.js
public/js/app.js.map
public/css/app.css
public/css/fontawesome.css
public/mix-manifest.json
